<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intel.samples.locationsensing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <!-- Required to use SDK sensing capabilities -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
	<!--  Required for user authorization -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    
    <!-- Required to sense location states -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
	<application
	    android:name=".LocationSampleApplication"
        android:icon="@drawable/sample_icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.intel.samples.locationsensing.LocationSampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<!-- Required to sense states in background -->
		<service android:name="com.intel.context.core.LocalService" />
    </application>
</manifest>